body { 
    background-color: #777777;
    width: 960px;
    margin: 0 auto;
}
header, nav, section, footer {
    background-color: #ebebeb;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align-last: center;
    height: 30px;
    margin: 10px auto 0px auto;
    padding: 20px
}
section {
    box-sizing: border-box;
    height: 335px;
    margin: 20px auto 10px auto;
    padding: 20px 10px 10px 10px;
    float: left;
    width: 52%;
}
aside {
    background-color: #ebebeb;
    float: right;
    width: 46%;
    height: 335px;
    margin-top: 20px;
    text-align-last: center;
    color: #777777;
    padding: 20px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box
}
article {
    background-color: #777777;
    color: #ededed;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding-top: 20px;
    overflow: auto;
}
h1 {
    background-color: #ebebeb;
    color: #777777;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
p {
    background-color: #ebebeb;
    color: #777777;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
.clear-fix {
    clear: both;
}

